<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>Home</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css"/>
    <link href="../styles/popup.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" language="javascript" src="../gwtrest/gwtrest.nocache.js"></script>
</head>

<body>
<script type="text/javascript" language="javascript">
    var Vars = {
        view:"HomeView"
    };
</script>

<div id="topbar_wrapper">
    <div class="logo">&nbsp;</div>
</div>


<div id="topgray_wrapper">
    <div class="floatleft"></div>

    <div class="right_button_group">
        <div id="current-user" class="welcome"></div>
        <a href="logout">
            <div id="Button-3">&nbsp;</div>
        </a>

        <div id="Button-2">&nbsp;</div>
        <div id="Button-1">&nbsp;</div>
    </div>

</div>

<div id="messages"></div>

<div id="main_content">
    <br/>

    <div id="HomeView-layout"></div>
</div>

<div id="footer_content">
</div>
</body>
</html>
