package ${context.getProperty("namespace")}.server.security;

import ${context.getProperty("namespace")}.server.entity.User;
import ${context.getProperty("namespace")}.server.service.SecurityService;
import ${context.getProperty("namespace")}.server.validate.ValidationException;
import javax.annotation.Resource;
import org.springframework.security.core.userdetails.UserDetails;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.core.userdetails.UsernameNotFoundException;

/**
 *
 * @author Andrews
 */
public class SecuredUserAuthenticationManager implements UserDetailsService {

    @Resource
    private SecurityService securityService;

    @Override
    public UserDetails loadUserByUsername(String username) throws UsernameNotFoundException {
        User user = null;

        try {
            user = securityService.findUserByUsername(username);
        } catch (ValidationException ex) {
            throw new UsernameNotFoundException(ex.getMessage());
        }

        return (user==null) ? null : new SecuredUser(user);
    }

}
