package ${context.getProperty("namespace")}.client.service;

import ${context.getProperty("namespace")}.client.entity.*;

import com.google.gwt.user.client.rpc.AsyncCallback;

import java.util.List;

public interface SessionServiceRemoteAsync {

    /**
     * Get the secured user
     */
    public void getUser(AsyncCallback<UserProxy> callback);

    /**
     * Get the unsecured user
     */
    public void getUnsecuredUser(AsyncCallback<UserProxy> callback);

    public void getLoginMessage(AsyncCallback<String> callback);

    public void getRequestUrl(AsyncCallback<String> callback);

#foreach($e in $types)
#if(! ${e.getName().equals("User")})

    /**
     * Get ${e.name}
     */
    public void get${e.name}(AsyncCallback<${e.name}Proxy> callback);
#end
#end
}