package ${context.getProperty("namespace")}.client.service;

import com.google.gwt.user.client.rpc.RemoteService;
import com.google.gwt.user.client.rpc.RemoteServiceRelativePath;
import ${context.getProperty("namespace")}.client.entity.*;
import ${context.getProperty("namespace")}.client.validate.ClientValidationException;
import java.util.List;

@RemoteServiceRelativePath("${util.uncapitalize(${type.name})}")
public interface ${type.name}Remote extends RemoteService {
#foreach($op in $type.operations)

    /**
#if(${util.isBlank(${op.documentation})})
     * ${op.name}
#else
     * ${op.documentation}
#end
#foreach($p in ${op.parameters})
     * @param ${p.name}
#end
#if(!${op.getReturnType().equals("void")})
     * @return ${op.returnType}
#end
#foreach($p in ${op.parameters})
     * @see ${p.type}
#end
     */
    public #parse("client.service.op.return.vm") ${op.name}(#parse("client.service.op.signature.vm")) throws ClientValidationException;
#end

}