package ${context.getProperty("namespace")}.client.validate;


import java.util.ArrayList;
import java.util.List;

/**
 * Thrown when Validation errors are encountered during service invocation.
 * Contains a list of messages that can be presented.
 */
public class ClientValidationException extends Exception {

    private List<ValidationErrorProxy> errors = new ArrayList<ValidationErrorProxy>();

    public ClientValidationException() {
    }

    public ClientValidationException(List<ValidationErrorProxy> errorList) {
        errors=errorList;
    }

    /**
     * Get the list of messages.
     *
     * @return
     */
    public List<ValidationErrorProxy> getErrors() {
        return errors;
    }

    public void addMessage(ValidationErrorProxy error) {
        errors.add(error);
    }
}
