package ${context.getProperty("namespace")}.client.service;

import com.google.gwt.user.client.rpc.AsyncCallback;

/**
 * Access session attributes
 */
public interface SessionServiceAsync {

    public void getCurrentUser(AsyncCallback<String> callback);

    public void getEntity(String name, AsyncCallback<String> callback);

}
