package ${context.getProperty("namespace")}.server.transfer;

import ${context.getProperty("namespace")}.client.entity.*;
import ${context.getProperty("namespace")}.server.entity.*;

/**
 *
 * 
 */
public final class TransferFactory {

    public static Transfer getTransfer(Object o) {
        return null;
    }
#foreach($e in $types)
#if(! ${e.isAbstractEntity()})

    public static Transfer getTransfer(${e.name} entity) {
        return new ${e.name}Transfer();
    }

    public static Transfer getTransfer(${e.name}Proxy entity) {
        return new ${e.name}Transfer();
    }
#end
#end
    
}
