package ${context.getProperty("namespace")}.server.transfer;

import ${context.getProperty("namespace")}.client.entity.*;
import ${context.getProperty("namespace")}.client.entity.Proxy;
import ${context.getProperty("namespace")}.server.entity.*;

/**
 *
 */
public final class ProxyFactory {
    
    public static Proxy createProxy(AbstractEntity entity) {
        return null;
    }
#foreach($e in $types)
#if(! ${e.isAbstractEntity()})
    public static Proxy createProxy(${e.name} entity) {
        return new ${e.name}Proxy();
    }
#end
#end
    
}
