<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <link href="styles/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" language="javascript" src="gwtrest/gwtrest.nocache.js"></script>
    </head>

    <body>    
        <script type="text/javascript" language="javascript">
            var Vars = {
                view: "PupilView"
            };
        </script>    
        
        <div id="layout"></div>
    </body>
</html>
