package ${context.getProperty("namespace")}.server.entity;

/**
 * Responsible for generating property values for positive and negative tests.
 */
public class ${type.name}ValidationTestHelper {

    
    
}
