package ${context.getProperty("namespace")}.server.entity;

/**
 * Responsible for generating property values for positive and negative tests.
 */
public class UserValidationTestHelper {

    String validUsername() {
        return "junk@email.com";
    }

}
