
<context>
    <properties>
        <property name="model.root" value="${root}/model"/>
        <property name="project.root" value="${root}/web"/>
        <property name="main.resource.root" value="${project.root}/src/main/resources"/>
        <property name="main.source.root" value="${project.root}/src/main/java"/>
        <property name="web.root" value="${project.root}/src/main/webapp"/>
        <property name="generated.source.root" value="${project.root}/target/generated-sources/atlas"/>
        <property name="test.source.root" value="${project.root}/target/generated-sources/atlas-test"/>
        <property name="namespace" value="com.us.fountainhead.gwtrest"/>
        <property name="base.package" value="com/us/fountainhead/gwtrest"/>
    </properties>
    <models>
        <model file="${model.root}/pim.xml" adapter="org.atlas.model.adapter.ea.ModelAdapter"/>
        <model file="${model.root}/entity.tags.xml" adapter="org.atlas.model.adapter.xml.tag.TagAdapter"/>
        <model file="${model.root}/boundary.tags.xml" adapter="org.atlas.model.adapter.xml.tag.TagAdapter"/>
    </models>
    <primitives file="${model.root}/primitives.xml"/>
    <templates dir="${main.resource.root}/atlas/templates" />
    <utilities>
        <utility name="util" impl="org.atlas.utils.AtlasStringUtils"/>
        <utility name="model" impl="org.atlas.utils.ModelUtility"/>
        <utility name="eval" impl="org.atlas.engine.utility.EvaluationUtility"/>
    </utilities>
    <conditions>
        <condition name="notTransient"><![CDATA[!${eval.boolTag(type, 'transient')}]]></condition>
        <condition name="secure"><![CDATA[${eval.boolTag(type, 'secure')} && ${eval.boolTag(type, 'root')}]]></condition>
        <condition name="notSecure"><![CDATA[!${eval.boolTag(type, 'secure')} && ${eval.boolTag(type, 'root')}]]></condition>
    </conditions>
    <targets>
        <target name="client.entity"
                stereotype="entity"
                template="client.entity.vm"
                outputFile="${name}.java"
                outputPath="${generated.source.root}/${base.package}/client/entity"
                overwrite="true"/>
        <target name="client.entity.service"
                stereotype="entity"
                condition="notTransient"
                template="client.entity.service.vm"
                outputFile="${name}EntityServiceClient.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="entity.service.rest"
                stereotype="entity"
                condition="notTransient"
                template="entity.service.rest.vm"
                outputFile="${name}EntityService.java"
                outputPath="${generated.source.root}/${base.package}/server/service/rest"
                overwrite="true"/>
        <target name="service.rest"
                stereotype="control"
                template="service.rest.vm"
                outputFile="${name}REST.java"
                outputPath="${generated.source.root}/${base.package}/server/service/rest"
                overwrite="true"/>
    <!--    <target name="client.service.remote"
                stereotype="control"
                template="client.service.remote.vm"
                outputFile="${name}Remote.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.service.async"
                stereotype="control"
                template="client.service.async.vm"
                outputFile="${name}RemoteAsync.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.service.client"
                stereotype="control"
                template="client.service.client.vm"
                outputFile="${name}Client.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.entity.service.remote"
                stereotype="entity"
                condition="notTransient"
                template="client.entity.service.remote.vm"
                outputFile="${name}DataServiceRemote.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.entity.service.async"
                stereotype="entity"
                condition="notTransient"
                template="client.entity.service.async.vm"
                outputFile="${name}DataServiceRemoteAsync.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.entity.service.client"
                stereotype="entity"
                condition="notTransient"
                template="client.entity.service.client.vm"
                outputFile="${name}DataServiceClient.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
                -->
                
        <target name="client.enum"
                stereotype="enumeration"
                template="client.enum.vm"
                outputFile="${name}.java"
                outputPath="${generated.source.root}/${base.package}/client/entity"
                overwrite="true"/>
                <!--
        <target name="view.base"
                stereotype="boundary"
                template="view.base.vm"
                outputFile="${name}Base.java"
                outputPath="${generated.source.root}/${base.package}/client/ui"
                overwrite="true"/>
        <target name="view"
                stereotype="boundary"
                template="view.vm"
                outputFile="${name}.java"
                outputPath="${main.source.root}/${base.package}/client/ui"
                overwrite="false"/>
        -->
        <target name="client.entry.point"
                stereotype="boundary"
                collection="true"
                template="client.entry.point.vm"
                outputFile="Gwtrest.java"
                outputPath="${generated.source.root}/${base.package}/client"
                overwrite="true">
            <property name="entry.point" value="Gwtrest"/>
        </target>
        <target name="view.enum"
                stereotype="boundary"
                collection="true"
                template="view.enum.vm"
                outputFile="View.java"
                outputPath="${generated.source.root}/${base.package}/client"
                overwrite="true"/>
                
        <target name="view.factory"
                stereotype="boundary"
                collection="true"
                template="view.factory.vm"
                outputFile="ViewFactory.java"
                outputPath="${generated.source.root}/${base.package}/client"
                overwrite="true"/>
        <target name="client.gwt"
                stereotype="boundary"
                collection="true"
                template="client.gwt.vm"
                outputFile="Gwtrest.gwt.xml"
                outputPath="${main.resource.root}/${base.package}"
                overwrite="true">
            <property name="entry.point" value="Gwtrest"/>
        </target>
        <target name="web.xml"
                stereotype="entity"
                collection="true"
                template="web.xml.vm"
                outputFile="web.xml"
                outputPath="${web.root}/WEB-INF"
                overwrite="true">
            <property name="url.pattern.root" value="gwtrest"/>
        </target>
       
                <!--
        <target name="secure.view.html"
                condition="secure"
                stereotype="boundary"
                template="secure.view.html.vm"
                outputFile="${name}.html"
                outputPath="${web.root}/WEB-INF/views/secure"
                overwrite="false">
        </target>
        <target name="view.html"
                condition="notSecure"
                stereotype="boundary"
                template="view.html.vm"
                outputFile="${name}.html"
                outputPath="${web.root}/WEB-INF/views"
                overwrite="false">
        </target>
        
        <target name="urlrewrite.xml"
                stereotype="boundary"
                collection="true"
                template="urlrewrite.xml.vm"
                outputFile="urlrewrite.xml"
                outputPath="${web.root}/WEB-INF"
                overwrite="true">
            <property name="url.pattern.root" value="cps"/>
        </target>
        
        <target name="spring.app.config"
                stereotype="boundary"
                collection="true"
                template="spring.app.config.vm"
                outputFile="app-config.xml"
                outputPath="${web.root}/WEB-INF/spring"
                overwrite="true"/>
                
        <target name="spring.mvc.config"
                stereotype="boundary"
                collection="true"
                template="spring.mvc.config.vm"
                outputFile="mvc-config.xml"
                outputPath="${web.root}/WEB-INF/spring"
                overwrite="true"/>
               
        <target name="client.validation.error.proxy"
                stereotype="entity"
                collection="true"
                template="client.validation.error.proxy.vm"
                outputFile="ValidationErrorProxy.java"
                outputPath="${generated.source.root}/${base.package}/client/validate"
                overwrite="true"/>
        <target name="validation.error.transfer"
                stereotype="entity"
                collection="true"
                template="validation.error.transfer.vm"
                outputFile="ValidationErrorTransfer.java"
                outputPath="${generated.source.root}/${base.package}/server/transfer"
                overwrite="true"/>
        <target name="client.validation.exception"
                stereotype="entity"
                collection="true"
                template="client.validation.exception.vm"
                outputFile="ClientValidationException.java"
                outputPath="${generated.source.root}/${base.package}/client/validate"
                overwrite="true"/>

        <target name="server.service.servlet"
                stereotype="control"
                template="server.service.servlet.vm"
                outputFile="${name}Servlet.java"
                outputPath="${main.source.root}/${base.package}/server/service"
                overwrite="false"/>
        <target name="server.entity.service"
                stereotype="entity"
                condition="notTransient"
                template="server.entity.service.servlet.vm"
                outputFile="${name}DataServiceServlet.java"
                outputPath="${generated.source.root}/${base.package}/server/service"
                overwrite="true"/>
                
        <target name="client.session.service.remote"
                stereotype="entity"
                collection="true"
                template="client.session.service.remote.vm"
                outputFile="SessionServiceRemote.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.session.service.remote.async"
                stereotype="entity"
                collection="true"
                template="client.session.service.remote.async.vm"
                outputFile="SessionServiceRemoteAsync.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.session.service.client"
                stereotype="entity"
                collection="true"
                template="client.session.service.client.vm"
                outputFile="SessionServiceClient.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="server.session.service.servlet"
                stereotype="entity"
                collection="true"
                template="server.session.service.servlet.vm"
                outputFile="SessionServiceServlet.java"
                outputPath="${generated.source.root}/${base.package}/server/service"
                overwrite="true"/>
        <target name="session.constants"
                stereotype="entity"
                collection="true"
                template="session.constants.vm"
                outputFile="SessionConstants.java"
                outputPath="${generated.source.root}/${base.package}/server"
                overwrite="true"/>
-->
    </targets>
</context>