
<context>
    <properties>
        <property name="model.root" value="${root}/model"/>
        <property name="project.root" value="${root}/web"/>
        <property name="main.resource.root" value="${project.root}/src/main/resources"/>
        <property name="main.source.root" value="${project.root}/src/main/java"/>
        <property name="web.root" value="${project.root}/src/main/webapp"/>
        <property name="generated.source.root" value="${project.root}/target/generated-sources/atlas"/>
        <property name="test.source.root" value="${project.root}/target/generated-sources/atlas-test"/>
        <property name="namespace" value="com.us.fountainhead.gwtrest"/>
        <property name="base.package" value="com/us/fountainhead/gwtrest"/>
    </properties>
    <models>
        <model file="${model.root}/pim.xml" adapter="org.atlas.model.adapter.ea.ModelAdapter"/>
        <model file="${model.root}/entity.tags.xml" adapter="org.atlas.model.adapter.xml.tag.TagAdapter"/>
        <model file="${model.root}/boundary.tags.xml" adapter="org.atlas.model.adapter.xml.tag.TagAdapter"/>
    </models>
    <primitives file="${model.root}/primitives.xml"/>
    <templates dir="${main.resource.root}/atlas/templates" />
    <utilities>
        <utility name="util" impl="org.atlas.utils.AtlasStringUtils"/>
        <utility name="model" impl="org.atlas.utils.ModelUtility"/>
        <utility name="eval" impl="org.atlas.engine.utility.EvaluationUtility"/>
    </utilities>
    <conditions>
        <condition name="notTransient"><![CDATA[!${eval.boolTag(type, 'transient')}]]></condition>
        <condition name="secure"><![CDATA[${eval.boolTag(type, 'secure')} && ${eval.boolTag(type, 'root')}]]></condition>
        <condition name="notSecure"><![CDATA[!${eval.boolTag(type, 'secure')} && ${eval.boolTag(type, 'root')}]]></condition>
    </conditions>
    <targets>
        <target name="client.entity"
                stereotype="entity"
                template="client.entity.vm"
                outputFile="${name}.java"
                outputPath="${generated.source.root}/${base.package}/client/entity"
                overwrite="true"/>
        <target name="client.entity.service"
                stereotype="entity"
                condition="notTransient"
                template="client.entity.service.vm"
                outputFile="${name}EntityServiceClient.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.service"
                stereotype="control"
                template="client.service.vm"
                outputFile="${name}Client.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.entity.service.client"
                stereotype="entity"
                template="client.entity.service.client.vm"
                collection="true"
                outputFile="EntityServiceClient.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.service.client"
                stereotype="entity"
                template="client.service.client.vm"
                collection="true"
                outputFile="ServiceClient.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.service.response"
                stereotype="entity"
                template="client.service.response.vm"
                collection="true"
                outputFile="ServiceResponse.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.service.validation.error"
                stereotype="entity"
                template="client.service.validation.error.vm"
                collection="true"
                outputFile="ValidationError.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.session.service"
                stereotype="entity"
                template="client.session.service.vm"
                collection="true"
                outputFile="SessionService.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="client.session.service.async"
                stereotype="entity"
                template="client.session.service.async.vm"
                collection="true"
                outputFile="SessionServiceAsync.java"
                outputPath="${generated.source.root}/${base.package}/client/service"
                overwrite="true"/>
        <target name="entity.service.rest"
                stereotype="entity"
                condition="notTransient"
                template="entity.service.rest.vm"
                outputFile="${name}EntityService.java"
                outputPath="${generated.source.root}/${base.package}/server/service/rest"
                overwrite="true"/>
        <target name="session.service.servlet"
                stereotype="entity"
                collection="true"
                template="session.service.servlet.vm"
                outputFile="SessionServiceServlet.java"
                outputPath="${generated.source.root}/${base.package}/server/service"
                overwrite="true"/>
        <target name="service.rest"
                stereotype="control"
                template="service.rest.vm"
                outputFile="${name}REST.java"
                outputPath="${generated.source.root}/${base.package}/server/service/rest"
                overwrite="true"/>
        <target name="server.service.response"
                stereotype="control"
                collection="true"
                template="server.service.response.vm"
                outputFile="ServiceResponse.java"
                outputPath="${generated.source.root}/${base.package}/server/service/rest"
                overwrite="true"/>
        <target name="navigation.controller"
                stereotype="boundary"
                collection="true"
                template="navigation.controller.vm"
                outputFile="NavigationController.java"
                outputPath="${generated.source.root}/${base.package}/server/mvc"
                overwrite="true"/>
        <target name="page.controller"
                stereotype="boundary"
                collection="true"
                template="page.controller.vm"
                outputFile="PageController.java"
                outputPath="${main.source.root}/${base.package}/server/mvc"
                overwrite="false"/>
        <target name="authentication.manager"
                stereotype="entity"
                collection="true"
                template="authentication.manager.vm"
                outputFile="SecuredUserAuthenticationManager.java"
                outputPath="${generated.source.root}/${base.package}/server/security"
                overwrite="true"/>
        <target name="secured.user"
                stereotype="entity"
                collection="true"
                template="secured.user.vm"
                outputFile="SecuredUser.java"
                outputPath="${generated.source.root}/${base.package}/server/security"
                overwrite="true"/>
        <target name="client.enum"
                stereotype="enumeration"
                template="client.enum.vm"
                outputFile="${name}.java"
                outputPath="${generated.source.root}/${base.package}/client/entity"
                overwrite="true"/>
        <target name="client.entry.point"
                stereotype="boundary"
                collection="true"
                template="client.entry.point.vm"
                outputFile="gwtrest.java"
                outputPath="${generated.source.root}/${base.package}/client"
                overwrite="true">
            <property name="entry.point" value="gwtrest"/>
        </target>
        <target name="view.enum"
                stereotype="boundary"
                collection="true"
                template="view.enum.vm"
                outputFile="View.java"
                outputPath="${generated.source.root}/${base.package}/client"
                overwrite="true"/>
        <target name="home.view"
                stereotype="boundary"
                collection="true"
                template="home.view.vm"
                outputFile="HomeView.java"
                outputPath="${main.source.root}/${base.package}/client/ui"
                overwrite="false"/>
        <target name="view.factory"
                stereotype="boundary"
                collection="true"
                template="view.factory.vm"
                outputFile="ViewFactory.java"
                outputPath="${generated.source.root}/${base.package}/client"
                overwrite="true"/>
        <target name="client.gwt"
                stereotype="boundary"
                collection="true"
                template="client.gwt.vm"
                outputFile="gwtrest.gwt.xml"
                outputPath="${main.resource.root}/${base.package}"
                overwrite="true">
            <property name="entry.point" value="gwtrest"/>
        </target>
        <target name="spring.server.context"
                stereotype="entity"
                collection="true"
                template="spring.server.context.vm"
                outputFile="server-context.xml"
                outputPath="${main.resource.root}"
                overwrite="true">
            <property name="datasource" value="gwtrest"/>
        </target>
        <target name="web.xml"
                stereotype="entity"
                collection="true"
                template="web.xml.vm"
                outputFile="web.xml"
                outputPath="${web.root}/WEB-INF"
                overwrite="true">
            <property name="url.pattern.root" value="gwtrest"/>
        </target>
        <target name="urlrewrite.xml"
                stereotype="entity"
                collection="true"
                template="urlrewrite.xml.vm"
                outputFile="urlrewrite.xml"
                outputPath="${web.root}/WEB-INF"
                overwrite="true">
            <property name="url.pattern.root" value="gwtrest"/>
        </target>
        <target name="spring.security.context.xml"
                stereotype="entity"
                collection="true"
                template="spring.security.context.xml.vm"
                outputFile="security-context.xml"
                outputPath="${web.root}/WEB-INF/spring"
                overwrite="true">
        </target>
    </targets>
</context>