@charset "utf-8";

/* CSS FOR IE */


/*----- BODY and PAGE STYLES -----*/
body,td,th {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #4c505a;
	background-color: #eff1f5;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
input {
	background-color: #d3d6dd;
	color: #4c515a;
}




/*----- BODY and PAGE STYLES - END -----*/



/*----- TOP LIGHT GREY BAR -----*/
#topbar_wrapper {
	height: 38px;
    background-color: #e2e4e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#d4d8de));
    background-image: -webkit-linear-gradient(top, #f9fafb, #d4d8de);
    background-image: -moz-linear-gradient(top, #f9fafb, #d4d8de);
    background-image: -ms-linear-gradient(top, #f9fafb, #d4d8de);
    background-image: -o-linear-gradient(top, #f9fafb, #d4d8de);
    background-image: linear-gradient(top, #f9fafb, #d4d8de);
    border: 1px solid #9a9e9f;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 1px;
}

#topbar_wrapper .forgotpw {
	margin-right: 15px;
}

#topbar_wrapper .floatright {
	float: right;
}

#topbar_wrapper .lightbutton
    {        
        display: inline-block;
        white-space: nowrap;
        background-color: #e2e4e8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#c6c9cf));
        background-image: -webkit-linear-gradient(top, #f9fafb, #c6c9cf);
        background-image: -moz-linear-gradient(top, #f9fafb, #c6c9cf);
        background-image: -ms-linear-gradient(top, #f9fafb, #c6c9cf);
        background-image: -o-linear-gradient(top, #f9fafb, #c6c9cf);
        background-image: linear-gradient(top, #f9fafb, #c6c9cf);
        border: 1px solid #9a9e9f;
        padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 12px;
		padding-right: 12px;
		margin-left: 4px;
		margin-right: 4px;
		font: bold 1em/2em Helvetica Neue, Helvetica, Arial;
        text-decoration: none;
        color: #3e4243;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    }
    
#topbar_wrapper .lightbutton:hover
    {
        background-color: #f9fafb;
		border: 1px solid #b1b5b6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e4e8));
        background-image: -webkit-linear-gradient(top, #fafafa, #e2e4e8);
        background-image: -moz-linear-gradient(top, #fafafa, #e2e4e8);
        background-image: -ms-linear-gradient(top, #fafafa, #e2e4e8);
        background-image: -o-linear-gradient(top, #fafafa, #e2e4e8);
        background-image: linear-gradient(top, #fafafa, #e2e4e8);
    }
    
#topbar_wrapper .lightbutton:active
    {
        -moz-box-shadow: 0 0 4px 2px rgba(89,94,95,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(89,94,95,.3) inset;
        box-shadow: 0 0 4px 2px rgba(89,94,95,.3) inset;
        top: 1px;
    }
    
#topbar_wrapper .lightbutton:focus
    {
        outline: none;
        background: #fafafa;
    }    
	
#topbar_wrapper	lightbutton.lightbutton, input.lightbutton 
	{ 
		cursor: pointer;
		overflow: visible; /* removes extra side spacing in IE */
	}

/*----- TOP LIGHT GREY BAR - END -----*/




/*----- LOGIN PAGE STYLES -----*/

/* This is the main container */
#login_wrapper {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-image:url(images/login_bg.jpg);
	width: 900px;
	height: 460px;
}

/* Child classes related to login_wrapper */
#login_wrapper .login_button-wrapper {
	position: absolute;
	margin-top: 360px;
	width: 630px;
	height: 50px;
	margin-left: 150px;
}
#login_wrapper .forgotpw {
	position:absolute;
	margin-left: 270px;
	margin-top:-20px;
}
#login_wrapper .register {
	position:absolute;
	margin-left: 5px;
	margin-top:-20px

}


#login_wrapper .username {
	background: #d3d6df url(images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
	color: #4c515a;
    margin: 0 0 10px 0;
    width: 215px;
	border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #c6c9cf inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #c6c9cf inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #c6c9cf inset, 0 1px 0 #fff;
    background-position: 5px -2px !important;
}

#login_wrapper .password {
	background: #d3d6df url(images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
	color: #4c515a;
    margin: 0 0 10px 0;
    width: 215px;
	border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #c6c9cf inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #c6c9cf inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #c6c9cf inset, 0 1px 0 #fff;
    background-position: 5px -52px !important;
}

#login_wrapper .login input:focus
{
    background-color: #fff;
    border-color: #42baca;
	color: #000;
    outline: none;
	-moz-box-shadow: 0 0 0 2px #51d7e7 inset;
    -webkit-box-shadow: 0 0 0 2px #51d7e7 inset;
    box-shadow: 0 0 0 2px #51d7e7 inset;

}
#login_wrapper .darkbutton
    {        
        position:absolute;
		display: inline-block;
        white-space: nowrap;
        background-color: #6b777b;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#9ba6af), to(#525c63));
        background-image: -webkit-linear-gradient(top, #9ba6af, #525c63);
        background-image: -moz-linear-gradient(top, #9ba6af, #525c63);
        background-image: -ms-linear-gradient(top, #9ba6af, #525c63);
        background-image: -o-linear-gradient(top, #9ba6af, #525c63);
        background-image: linear-gradient(top, #9ba6af, #525c63);
        border: 1px solid #3f4142;
        padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 18px;
		padding-right: 18px;
        margin: 0px;
        font: bold 1em/2em Helvetica Neue, Helvetica, Arial;
        text-decoration: none;
        color: #f4f4f4;
        text-shadow: 0 0 1px rgba(0,0,0,.8);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 0 0 1px 1px rgba(168,179,187,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(168,179,187,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(168,179,187,.8) inset, 0 1px 0 rgba(0,0,0,.3);
		height:47px;
    }
    
#login_wrapper .darkbutton:hover
    {
        background-color: #525d64;
		border: 1px solid #363839;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#a1a7a9), to(#6b777b));
        background-image: -webkit-linear-gradient(top, #a1a7a9, #6b777b);
        background-image: -moz-linear-gradient(top, #a1a7a9, #6b777b);
        background-image: -ms-linear-gradient(top, #a1a7a9, #6b777b);
        background-image: -o-linear-gradient(top, #a1a7a9, #6b777b);
        background-image: linear-gradient(top, #a1a7a9, #6b777b);
    }
    
#login_wrapper .darkbutton:active
    {
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        top: 1px;
    }
    
#login_wrapper .darkbutton:focus
    {
        outline: none;
        background: #525d64;
    }    
	
#login_wrapper darkbutton.darkbutton, input.darkbutton 
	{ 
		cursor: pointer;
		overflow: visible; /* removes extra side spacing in IE */
	}
	
/*----- LOGIN PAGE LINKS -----*/

#login_wrapper a:link {
	color: #e62c31;
	text-decoration: none;
}
#login_wrapper a:visited {
	text-decoration: none;
	color: #e62c31;
}
#login_wrapper a:hover {
	text-decoration: none;
	color: #ff6266;
}
#login_wrapper a:active {
	text-decoration: none;
	color: #a91430;
}
	
	
/*----- LOGIN PAGE STYLES - END -----*/
